/* html::-webkit-scrollbar{
    display: none; */


/* jumbotron-2 {
    background: url("https://cdn.pixabay.com/photo/2017/09/04/18/39/coffee-2714970_1280.jpg") center no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
}

jumbotron-2 {
    background: url("https://cdn.pixabay.com/photo/2017/06/02/11/49/still-life-2366084_1280.jpg") center no-repeat;
    background-size: cover;
    padding-top: 15%;
    padding-bottom: 15%;
} */

/* .inner-content {
    max-width:30rem;
} */





